body {
    margin-top: 20px;
    color: #9b9ca1;
}
.bg-secondary-soft {
    background-color: #f0f0f0 !important;
}
.rounded {
    border-radius: 5px !important;
}
.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.6;
    color: #29292e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5dfe4;
    border-radius: 5px;
}

.fit-auto {
    width: fit-content;
    margin: 0 auto;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: right;
    align-items: end;
}

.buttons button {
    height: fit-content;
    border-radius: 10%;
    padding: 0.5rem 1.5rem;
    background-color: #6495ed;
    border: 1px solid #6495ed;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.recent-posts-title {
    margin-bottom: 1rem;
}

.recent-posts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 3rem;
}

.recent-posts .card {
    cursor: pointer;
}
