.cards-container {
    display: flex;
    gap: 2rem;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.recent-posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.recent-posts {
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .cards-container {
        flex-direction: column;
    }
}
