<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="fit-auto my-5">
                <h2 style="color:#6495ED">
                    <p>My Profile</p>
                </h2>
                <hr>
            </div>
            <div class="row mb-5 gx-5">
                <div class="fit-auto col-xxl-8 mb-5 mb-xxl-0">
                    <div class="bg-secondary-soft px-4 py-5 rounded">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label style="color:#6495ED">Full Name</label>
                                <input type="text" [readOnly]="!editing" class="form-control" placeholder=""
                                    aria-label="Full name" value="Belis">
                            </div>
                            <div class="col-md-6">
                                <label style="color:#6495ED">Email</label>
                                <input type="email" class="form-control" placeholder="" aria-label="Email"
                                    value="beliss@gvwwf">
                            </div>
                            <div class="col-md-6">
                                <label style="color:#6495ED">Password</label>
                                <input type="password" class="form-control" placeholder="" aria-label="Password"
                                    value="123456">
                            </div>
                            <div class="col-md-6">
                                <label style="color:#6495ED">School</label>
                                <input type="text" class="form-control" placeholder="" aria-label="School"
                                    value="Pirva gmnz">
                            </div>
                            <div class="col-md-6">
                                <label style="color:#6495ED">Town</label>
                                <input type="text" class="form-control" id="inputEmail4" value="Trg">
                            </div>
                            <div class="col-md-6">
                                <label style="color:#6495ED">Interests</label>
                                <input type="text" class="form-control" placeholder="" aria-label="Interests"
                                    value="DDZ">
                            </div>
                            <div class="col-md-6">
                                <label style="color:#6495ED">Age</label>
                                <input type="n" class="form-control" placeholder="" aria-label="age" value="67">
                            </div>
                            <div class="buttons col-md-6">
                                <button>Undo</button>
                                <button>Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>